{{>navbar}}
<div class="container-fluid">
    <a href='https://en.wikipedia.org/wiki/Special:Random' target='_blank' class="random"><h3>Random Article</h3></a>
</div>    
<div class="container search-group">
    <div class="row">
     <div class="col-md-12 col-sm-12 col-xs-12 text-center">
    <form class="form-inline">
       <div class="form-group">
    <label for="exampleInputEmail1"><h3>Search</h3></label>
    <input type="text" class="form-control" id="searchbox" aria-describedby="emailHelp" placeholder="Enter your search">
   <button type="button" class="btn btn-default btn-md" id="click">
  <span class="glyphicon glyphicon-search" aria-hidden="true" ></span>
</button>
  </div>
    </form>
     </div>
    </div>    
     </div>
<div class="container-fluid">
  <ul id="output">
    
  </ul>

</div>